
<div class="container">
  <form class="form-signin">
      <h2>Registration Form</h2>
      <input type="text" name="name" class="form-control" placeholder="Full Name" required autofocus>
      <input type="email" name="email" class="form-control" placeholder="Email Address" required>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
</div>
